.technologies * {
  margin: 0;
}
.technologies .technologies_by_hydra {
  background-image: url(../Assets/Images/pexels-rodnae-productions-8097332\ 1.png);
  margin-top: 120px;
  border-radius: 160px;
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
  height: 303px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.technologies .technologies_by_hydra .hardware {
  text-align: center;
}
.technologies .technologies_by_hydra .hardware :first-child {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.technologies .technologies_by_hydra .hardware :nth-child(2) {
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.technologies .vr_brands {
  margin-top: 50px;
}
.technologies .vr_brands .vr_brands_logotypes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}
.technologies .vr_brands .vr_brands_logotypes img {
  opacity: 0.36;
}
.technologies .vr_brands .vr_brands_logotypes :first-child {
  max-width: 174px;
  width: 100%;
  height: 174px;
  flex-shrink: 0;
}
.technologies .introduction_vr {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.technologies .introduction_vr .bol_dtext_title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.technologies .introduction_vr .thin_text_subtitle {
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.technologies .introduction_vr p {
  align-self: center;
  max-width: 650px;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.technologies .introduction_vr .introduction_vr_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.technologies .introduction_vr .introduction_vr_content .introduction_vr_content_left_side_arrow img {
  margin-top: 50px;
  align-self: flex-end;
}
.technologies .steps_to_deploy {
  margin-top: 140px;
  display: flex;
  justify-content: space-around;
}
.technologies .steps_to_deploy .steps_to_deploy_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.technologies .steps_to_deploy .steps_to_deploy_card .steps_to_deploy_elipses {
  width: 198px;
  height: 198px;
  flex-shrink: 0;
  border-radius: 50%;
  background: linear-gradient(251deg, #C0B7E8 0%, #8176AF 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #343045;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.technologies .steps_to_deploy .steps_to_deploy_card .steps_to_deploy_elipses_content {
  display: flex;
  margin-top: 45px;
}
.technologies .steps_to_deploy .steps_to_deploy_card .steps_to_deploy_elipses_content img {
  width: 67px;
  height: 67px;
  flex-shrink: 0;
}
.technologies .steps_to_deploy .steps_to_deploy_card .steps_to_deploy_elipses_content p {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
