.App {
  background: #302C42;
  color: #FFF;
}
.App .container {
  margin: 0 auto;
  max-width: 1272px;
  width: 100%;
  background-image: url(Assets/icons/footer_social_contact_icons/Group\ 2.png);
  background-position: center;
}
